{% extends "base.html" %}
{% load static %}

{% block content %}
{# self portrait #}
{% include 'includes/masthead-avatar.html' %}
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Who I am</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/family.jpg' %}" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/guitar.jpg' %}" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/devops.jpg' %}" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/game.png' %}" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">I currently work for the City of Tucson, in IT. I have been in the IT game for about {{ work_exp }} years, now.
            I attended Brown Mackie college where I achieved an Associates in Computer Science. I'm also a full-time parent!</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">On the side, I help fix person's computers or troubleshoot an issue for them.
            I also built my wife an orders webapp to help keep track of her Cricut orders. I'm also open to some freelance web development, if anybody needs it.</p></div>
        </div>
    </div>
</section>
<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                {#  Flash message on complaint add  #}
                {% if messages %}
                <div id="liveAlertPlaceholder" class="messages">
                    {% for message in messages %}
                    <div class="alert alert-dismissible {% if message.tags == "success" %}alert-success{% else %}alert-warning{% endif %}">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <form action="{% url 'index' %}" method="post" id="form" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'hidden_input' %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            <br>
                            {{ field }}
                            {% if field.errors %}
                            <span class="error" style="color: red;">{{ field.errors }}</span>
                            {% endif %}
                        </div>
                        {% else %}
                            <div class="form-group" hidden>
                                {{ field.label_tag }}
                                <br>
                                {{ field }}
                                {% if field.errors %}
                                <span class="error" style="color: red;">{{ field.errors }}</span>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <input class="btn btn-primary mt-3" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Modals-->
<!-- Portfolio Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Family Man</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/family.jpg' %}" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">My biggest priority in life is my family. As far as life progression, my wife and I pretty much did everything
                            in reverse. We had our daughter, as teenagers, then finished school and college. We then had our son, 7 years later. Finally, in 2018,
                            we got married! My family comes first, before anything else. As long as I have them, my life will always be sound.</p>
                            <button class="btn btn-primary portfolio-modal" data-bs-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Music</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/guitar.jpg' %}" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">I'm a self-taught guitarist and audio engineer. I've been playing guitar for {{ guitar_years }} years, ever since the age
                            of 12. I first started playing the bass, but felt I wanted more, so my parents bought me a guitar, and I never put it down again.
                                <br><em>"Music produces a kind of pleasure which human nature cannot do without." - Confucius</em></p>
                            <button class="btn btn-primary portfolio-modal" data-bs-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Programmer</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/devops.jpg' %}" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">My journey of programming began with PowerShell; it helped grasp the fundamentals and logic that goes into
                            a programming language. I started building scripts that would help with my day-to-day tasks: unlock an AD account here, generate a new
                            log there, etc. I took a basic web-development class in college, so I began taking that up again, along with Javascript for logic and
                            backend development. I started out basic, with a small email signup webapp, which then rolled over to this personal site, which is my
                            second rendition of it. The only thing extra is that I am using Python for my backend development and Flask for the framework, and Jinja
                            for templating. I learned python as a way to diversify my knowledge in programming, and it soon became my favorite language.</p>
                            <div class="icons">
                                <i class="fab fa-html5"></i>
                                <i class="fab fa-js"></i>
                                <i class="fab fa-python"></i>
                            </div>
                            <button class="btn btn-primary portfolio-modal" data-bs-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 4-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Gamer</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/game.png' %}" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">I love playing video games; outside of family and music, video games gives me a release from stress. I
                            remember we had super NES console when I was a child, my favorite games to play on there were Street Fighter II, Mortal Kombat
                                , and some baseball game. Then, we got a playstation. I would spend hours playing spyro, trying to find all the dragons,
                                and then getting down on some Tekken. Yoshimitsu, of course, was my favorite character. As I got older, I strayed a bit from
                            playing, then I built my first gaming PC and discovered all kinds of games. I like to mainly play indie games like The Forest,
                            and simulator games. I also like to get competitive and play Battlefield, BF3 being the best, in my opinion. My kids also like to
                            play video games, as well, so I play Fortnite with my son who's the best player of all time, of course. Then Roblox with both kids. They're major nerds like
                            I am, and it's one of things I love most about them.</p>
                            <button class="btn btn-primary portfolio-modal" data-bs-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}